*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
}

.calculator{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Media queries for responsiveness*/
@media (orientation: landscape){
    .calculator{
        width: 60vh;
        height: 90vh;
        border-radius: 4vh;   
    }
    .button{
        border-radius: 1vh;
        border-width: 0.2vh;
        font-size: 200%;
    }
}
@media (orientation: portrait){
    .calculator{
        border-radius: 4vw;
    }
    .button{
        border-radius: 1vw;
        border-width: 0.2vw;
        font-size: 250%;
    }
    @media (min-aspect-ratio: 12/16){
        .calculator{
            width: 60vw;
            height: 90vw;  
        }
    }
    @media (max-aspect-ratio: 12/16){
        .calculator{
            width: 80vw;
            height: 120vw;
            align-self: flex-start;
            margin-top: 10vw;
        }
        .button{
            font-size: 200%;
        }
    }
    @media (max-aspect-ratio: 6/16){
        .button{
            font-size: 100%;
        }
    }

}

.screen{
    display: flex;
    background-color: whitesmoke;
    width: 90%;
    height: 25%;
    border-radius: 3%/6%;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.screenText{
    margin-right: 5%;
}

.buttons-container{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 10%;
    margin-bottom: 0;
    gap: 1.5%;
}

.row-of-buttons{
    flex: 1;
    display:flex;
    gap: 1.5%;
}

.button{
    display: flex;
    flex: 1;
    border-style: solid;
    justify-content: center;
    align-items: center;
}

.button:hover{
    transform: scale(1.03);
}

.wider-button{
    flex: 2.1;
}

.wider-button:hover{
    transform: scale(1.02);
}


a.rickroll{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.weAreNoStrangersToLove{
    margin-left: auto;
    margin-right: auto;
}

.angry{
    background-image: url(./images/gifsCollage.gif);
}

