*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
}

.calculator{
    background-color: grey;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
/* Media queries for responsiveness*/
@media (orientation: landscape){
    .calculator{
        width: 60vh;
        height: 90vh;
        border-radius: 4vh;   
    }
    .button{
        border-radius: 1vh;
        border-width: 0.2vh;
        font-size: 200%;
    }
}
@media (orientation: portrait){
    .calculator{
        border-radius: 4vw;
    }
    .button{
        border-radius: 1vw;
        border-width: 0.2vw;
        font-size: 250%;
    }
    @media (min-aspect-ratio: 12/16){
        .calculator{
            width: 60vw;
            height: 90vw;  
        }
    }
    @media (max-aspect-ratio: 12/16){
        .calculator{
            width: 80vw;
            height: 120vw;
            align-self: flex-start;
            margin-top: 10vw;
        }
        .button{
            font-size: 200%;
        }
    }
    @media (max-aspect-ratio: 6/16){
        .button{
            font-size: 100%;
        }
    }

}

.buttons-container{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: auto;
    margin-bottom: 5%;
    gap: 1.5%;
}

.row-of-buttons{
    flex: 1;
    display:flex;
    gap: 1.5%;
}

.button{
    display: flex;
    flex: 1;
    border-style: solid;
    justify-content: center;
    align-items: center;
}

.button:hover{
    transform: scale(1.03);
}

.wider-button{
    flex: 2.1;
}

.wider-button:hover{
    transform: scale(1.02);
}
